/**
 * Colors light theme
 */
$AU-color-foreground-text:                     #414141;
$AU-color-foreground-action:                   #007099;
$AU-color-foreground-focus:                    #007099;
$AU-color-background:                          #ffffff;
//
// // Non-user definable pallet colors
$AU-color-background-shade-suggestion:         #f7f7f7;
$AU-color-background-alt-suggestion:           #f0f0f0;
$AU-color-background-alt-shade-suggestion:     #e8e8e8;
$AU-color-foreground-muted-suggestion:         #666666;
$AU-color-foreground-border-suggestion:        #858585;
//
//
// /**
//  * Colors dark theme
//  */
$AU-colordark-foreground-text:                 #ffffff;
$AU-colordark-background:                      #414141;
$AU-colordark-foreground-action:               #45c2f0;
$AU-colordark-foreground-focus:                #45c2f0;
//
// // non user definable pallet colors
$AU-colordark-background-shade-suggestion:     #262626;
$AU-colordark-background-alt-suggestion:       #1a1a1a;
$AU-colordark-background-alt-shade-suggestion: #000000;
$AU-colordark-foreground-muted-suggestion:     #9C9C9C;
$AU-colordark-foreground-border-suggestion:    #7D7D7D;
