/**
 * Colors light theme
 */
$AU-color-Text:                    #313131;
$AU-color-Action:                  #815D00;
$AU-color-Focus:                   #ea4200;
$AU-color-Background-light:        #ffffff;

// Non-user definable pallet colors
$AU-color-Background:              #f5f5f5;
$AU-color-Background-dark:         #ebebeb;
$AU-color-Background-darkest:      #e0e0e0;
$AU-color-Muted:                   #636363;
$AU-color-Border:                  #808080;


/**
 * Colors dark theme
 */
$AU-colordark-Text:                #ffffff;
$AU-colordark-Background-light:    #3C3C3C;
$AU-colordark-Action:              #EBCA79;
$AU-colordark-Focus:               #ff8629;

// non user definable pallet colors
$AU-colordark-Background:          #323232;
$AU-colordark-Background-dark:     #282828;
$AU-colordark-Background-darkest:  #1D1D1D;
$AU-colordark-Muted:               #a6a6a6;
$AU-colordark-Border:              #868686;
