// This is used for our example iframes and live demo pages

// We change the default main nav breakpoint
$AU-main-nav-breakpoint: sm;


// UI-Kit
@import '../_uikit/sass/uikit';

@import 'components/customise';

// Reset
body,
html {
	margin: 0;
	padding: 0;
}

// Example wrapper
.example {
	@include AU-space( padding, 1unit );
	position: relative;
	display: block;
}

.col-dark {
	background: $AU-colordark-background;
}

// Live demo page
.live-demo {
	// remove spacing
	.example {
		padding-left: 0;
		padding-right: 0;
	}

	// Align the components to the middle on live example page
	.example--align-middle {
		@include AU-space( max-width, 40unit );
		margin: 0 auto;
	}
}


// Live demo header bar
.header__example {
	@include AU-space( margin-bottom, 1unit );
	@include AU-space( padding, 1unit 0 );
	background-color: #1D1D1D;

	a {
		color: #45c2f0;
		display: block;
		float: left;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}


// Custom code for grid example
.grid-example .row > * {
	@include AU-space( padding-top, 0.75unit );
	@include AU-space( padding-bottom, 0.75unit );
	background: $AU-colordark-foreground-text;
	text-align: center;

	span {
		display: block;
		font-size: 12px;
		font-size: 0.75rem;
		background: $AU-colordark-foreground-action;
	}
}


// Custom code for animate example
.animate-example {
	@include AU-space( margin-top, 1unit );
	background-color: hotpink;
	background-color: rebeccapurple; // Not supported by IE
}


// Custom code for core fontgrid example
.fontgrid {
	p {
		@include AU-space( padding, 0.5unit 0 0.25unit );
		@include AU-space( margin, 1unit 0 2unit );
		font-weight: bold;
	}

	.col-xs-4 div {
		@include AU-space( margin-bottom, 0.25unit );
		background-color: $AU-color-background-shade;
		overflow: hidden;
	}

	.fontgrid-xxxl { @include AU-fontgrid( xxxl ); }
	.fontgrid-xxl { @include AU-fontgrid( xxl ); }
	.fontgrid-xl { @include AU-fontgrid( xl ); }
	.fontgrid-lg { @include AU-fontgrid( lg ); }
	.fontgrid-md { @include AU-fontgrid( md ); }
	.fontgrid-sm { @include AU-fontgrid( sm ); }
	.fontgrid-xs { @include AU-fontgrid( xs ); }

	.fontgrid--nospace {
		.fontgrid-xxxl { @include AU-fontgrid( xxxl, nospace ); }
		.fontgrid-xxl { @include AU-fontgrid( xxl, nospace ); }
		.fontgrid-xl { @include AU-fontgrid( xl, nospace ); }
		.fontgrid-lg { @include AU-fontgrid( lg, nospace ); }
		.fontgrid-md { @include AU-fontgrid( md, nospace ); }
		.fontgrid-sm { @include AU-fontgrid( sm, nospace ); }
		.fontgrid-xs { @include AU-fontgrid( xs, nospace ); }
	}

	.fontgrid--heading {
		.fontgrid-xxxl { @include AU-fontgrid( xxxl, heading ); }
		.fontgrid-xxl { @include AU-fontgrid( xxl, heading ); }
		.fontgrid-xl { @include AU-fontgrid( xl, heading ); }
		.fontgrid-lg { @include AU-fontgrid( lg, heading ); }
		.fontgrid-md { @include AU-fontgrid( md, heading ); }
		.fontgrid-sm { @include AU-fontgrid( sm, heading ); }
		.fontgrid-xs { @include AU-fontgrid( xs, heading ); }
	}
}


// Custom code for core spacing example
.spacing {
	.au-progress-indicator__link:before,
	.au-accordion__title:before,
	.au-accordion__body-wrapper:before {
		@include AU-space( border, solid rgba(255,0,0,0.15) 1unit );
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-image: url('/assets/img/spacing-example-grid.png');
	}
	.au-accordion__body-wrapper {
		position: relative;
	}

	.au-progress-indicator__link:before {
		@include AU-space( border-left, solid rgba(255,0,0,0.15) 0.5unit );
	}

	.au-progress-indicator__link:after {
		@include AU-space( border-right, solid rgba(255,0,0,0.15) 0.75rem );
	}
}



// Custom code for core colours example
.palette {
	@include AU-clearfix();

	.palette__bg {
		background: $AU-color-background;

		p {
			@include AU-space( padding, 0.5unit 0 );
			margin: 0;
		}

		hr {
			@include AU-space( border-width, 0.25unit );
			@include AU-space( margin-top, 0.75unit );
		}

		.palette__text--focus {
			border-color: $AU-color-foreground-focus;
		}

		.palette__text--muted {
			color: $AU-color-foreground-muted;
		}

		&.palette__bg--shade {
			background: $AU-color-background-shade;
		}
		&.palette__bg--alt {
			background: $AU-color-background-alt;
		}
		&.palette__bg--alt-shade {
			background: $AU-color-background-alt-shade;
		}
	}

	&.palette--dark {
		.palette__bg {
			background: $AU-colordark-background;

			&.palette__bg--shade {
				background: $AU-colordark-background-shade;
			}
			&.palette__bg--alt {
				background: $AU-colordark-background-alt;
			}
			&.palette__bg--alt-shade {
				background: $AU-colordark-background-alt-shade;
			}
		}

		.palette__text--focus {
			border-color: $AU-colordark-foreground-focus;
		}

		.palette__text--muted {
			color: $AU-colordark-foreground-muted;
		}
	}
}

// Align the content in the middle
.content.content--center {
	text-align: center;
}


// A11y examples
.sronly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect( 0, 0, 0, 0 );
	border: 0;
}

.bar {
	border-bottom: 4px solid #f5f5f5;
	border-bottom: .25rem solid #f5f5f5;
}

.a11y-button {
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	color: #007099;
	background-color: #fff;
	cursor: pointer;
	vertical-align: middle;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.14286;
	padding: 12px 16px 12px;
	padding: .75rem 1rem .75rem;
	border: none;
	border-bottom: 4px solid #f5f5f5;
	border-bottom: .25rem solid #f5f5f5;
	margin-bottom: -4px;
	margin-bottom: -0.25rem;
}

.a11y-button:focus {
	outline: 3px solid #9263DE;
	outline-offset: 2px;
}

.a11y-button.is-active {
	border-color: #007099;
}

.a11y-button.a11y-button--soft {
	color: #313131;
}

.a11y .example .bar,
.a11y .example .content,
.a11y .example .bar,
.a11y .example .content {
	display: none;
}

@supports ( filter: url( "filters.svg#deuteranopia" ) ){
	.filter-fail {
		display: none;
	}

	.a11y .example .bar,
	.a11y .example .content,
	.a11y .example .bar,
	.a11y .example .content {
		display: block;
	}
}


.svg-filter {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}


.js-filter--tritanopia .content {
	 filter: url( "#tritanopia" );
}
.js-filter--grayscale .content {
	 filter: grayscale( 100% );
}
.js-filter--deuteranopia .content {
	 filter: url( "#deuteranopia" );
}
