// This is used for our example iframes and live demo pages


// UI-Kit
@import '../_uikit/sass/uikit';


// Example wrapper
.example {
	position: relative;
	@include AU-clearfix();
	@include AU-space( padding, 1unit 2unit );
	padding: 16px 32px;
	padding: 1rem 2rem;
	margin: 0 auto;
	max-width: 800px;

	.example__title {
		@include AU-space( padding, 0.25unit );
		position: absolute;
		left: 0;
		top: 0;
		font-size: 12px;
		font-size: 0.75rem;
		background: $AU-color-background-shade;
		display: inline-block;
		text-transform: uppercase;
		z-index: 10;
	}

	&.example--fullwidth {
		padding: 0;
	}

	&.example--center {
		text-align: center
	}
}


.a11y .content .au-body.au-body--dark,
.example .content .au-body.au-body--dark {
	@include AU-space( margin, 1unit -2unit -2unit -2unit );
	@include AU-space( padding, 1unit 2unit );
}


// Live demo header bar
.live-demo header {
	@include AU-space( margin-bottom, 1unit );
	@include AU-space( padding, 1unit );
	background-color: #1D1D1D;

	.container-fluid {
		max-width: 1360px;
		max-width: 85rem;
		@include AU-space( padding-left, 3unit );
		@include AU-space( padding-right, 3unit );
	}

	a {
		color: #EBCA79;
		display: block;
		float: left;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

// Grids
.grids {
	@include AU-space( padding-top, 0.75unit );
	@include AU-space( padding-bottom, 0.75unit );
	background: $AU-colordark-foreground-text;
	text-align: center;

	span {
		display: block;
		font-size: 12px;
		font-size: 0.75rem;
		background: $AU-colordark-foreground-action;
	}
}


// Animation
.animate-example {
	@include AU-space( margin-top, 1unit );
	background-color: rebeccapurple;
}


// Core typography
.fontgrid-xxxl {
	@include AU-fontgrid( xxxl );
}
.fontgrid-xxl {
	@include AU-fontgrid( xxl );
}
.fontgrid-xl {
	@include AU-fontgrid( xl );
}
.fontgrid-lg {
	@include AU-fontgrid( lg );
}
.fontgrid-md {
	@include AU-fontgrid( md );
}
.fontgrid-sm {
	@include AU-fontgrid( sm );
}
.fontgrid-xs {
	@include AU-fontgrid( xs );
}


// Core color palettes
.palette {
	@include AU-space( height, 2unit );
	display: block;
	width: 20%;
	float: left;
	text-align: center;

	span {
		@include AU-space( padding, 0.25unit );
		@include AU-space( margin, 0.5unit auto );
		line-height: 1;
		font-size: 12px;
		font-size: 0.75rem;
		background: #000;
		background: rgba( 0, 0, 0, 0.8 );
		color: #fff;
		display: inline-block;

		&.hidehex:after {
			display: none;
		}
	}

	&.palette--foreground-action {
		background: $AU-color-foreground-action;
		span:after {
			content: ": #{ $AU-color-foreground-action }";
		}
	}
	&.palette--foreground-focus {
		background: $AU-color-foreground-focus;
		span:after {
			content: ": #{ $AU-color-foreground-focus }";
		}
	}
	&.palette--foreground-text {
		background: $AU-color-foreground-text;
		span:after {
			content: ": #{ $AU-color-foreground-text }";
		}
	}
	&.palette--foreground-muted {
		background: $AU-color-foreground-muted;
		span:after {
			content: ": #{ $AU-color-foreground-muted }";
		}
	}
	&.palette--foreground-border {
		background: $AU-color-foreground-border;
		span:after {
			content: ": #{ $AU-color-foreground-border }";
		}
	}
	&.palette--background {
		background: $AU-color-background;
		span:after {
			content: ": #{ $AU-color-background }";
		}
	}
	&.palette--background-shade {
		background: $AU-color-background-shade;
		span:after {
			content: ": #{ $AU-color-background-shade }";
		}
	}
	&.palette--background-alt {
		background: $AU-color-background-alt;
		span:after {
			content: ": #{ $AU-color-background-alt }";
		}
	}
	&.palette--background-alt-shade {
		background: $AU-color-background-alt-shade;
		span:after {
			content: ": #{ $AU-color-background-alt-shade }";
		}
	}

	&.palette--dark {
		&.palette--dark--foreground-action {
			background: $AU-colordark-foreground-action;
			span:after {
				content: ": #{ $AU-colordark-foreground-action }";
			}
		}
		&.palette--dark--foreground-focus {
			background: $AU-colordark-foreground-focus;
			span:after {
				content: ": #{ $AU-colordark-foreground-focus }";
			}
		}
		&.palette--dark--foreground-text {
			background: $AU-colordark-foreground-text;
			span:after {
				content: ": #{ $AU-colordark-foreground-text }";
			}
		}
		&.palette--dark--foreground-muted {
			background: $AU-colordark-foreground-muted;
			span:after {
				content: ": #{ $AU-colordark-foreground-muted }";
			}
		}
		&.palette--dark--foreground-border {
			background: $AU-colordark-foreground-border;
			span:after {
				content: ": #{ $AU-colordark-foreground-border }";
			}
		}
		&.palette--dark--background {
			background: $AU-colordark-background;
			span:after {
				content: ": #{ $AU-colordark-background }";
			}
		}
		&.palette--dark--background-shade {
			background: $AU-colordark-background-shade;
			span:after {
				content: ": #{ $AU-colordark-background-shade }";
			}
		}
		&.palette--dark--background-alt {
			background: $AU-colordark-background-alt;
			span:after {
				content: ": #{ $AU-colordark-background-alt }";
			}
		}
		&.palette--dark--background-alt-shade {
			background: $AU-colordark-background-alt-shade;
			span:after {
				content: ": #{ $AU-colordark-background-alt-shade }";
			}
		}
	}
}
