/**
 * Colors light theme
 */
$AU-color-foreground-text:       #414141;
$AU-color-foreground-action:     #007099;
$AU-color-background:            #ffffff;


/**
 * Colors dark theme
 */
$AU-colordark-foreground-text:   #ffffff;
$AU-colordark-background:        #313131;
$AU-colordark-foreground-action: #45c2f0;

$AU-color-success-a11y:          #09875E;
