.avatar {
	border: 2px solid #fff;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
	background-color: $AU-color-background-alt;
	position: relative;
	display: block;

	img {
		max-width: 2em;
		display: block;
	}

	&:hover img {
		opacity: 0.8;
		z-index: 10;
	}
}
