.badge  {
	padding: 2px 8px;
	border-radius: 2em;
	font-size: 0.75em;
	background-color: $AU-color-foreground-action;
	color: $AU-color-background;
	font-weight: normal;
	float: right;
}

.badge--highlight {
	background-color: $AU-color-background-alt;
	color: $AU-color-foreground-muted;
}
