// Top spacing for the content when sidenav above
.basicpage .col-sm-4 + .col-sm-8 {
	@include AU-space( margin-top, 1unit );

	@include AU-media( sm ){
		margin-top: 0;
	}
}

.au-breadcrumbs + h1 {
	@include AU-space( margin-top, 1unit );
}
