.au-btn__list {
	list-style: none;
	padding: 0;
	margin: 0;

	* + & {
		@include AU-space( margin-top, 2unit );
	}

	& > li + li {
		@include AU-space( margin-top, 1unit );
	}
}

.au-btn__list--inline {
	& > li {
		display: inline-block;
	}

	& > li + li {
		margin-top: 0;
		@include AU-space( margin-left, 1unit );
	}
}
