.calloutWithButton {
	@include AU-clearfix(); //not using .row because of it's -margins
	@include AU-space( padding, 2unit );
	background: $AU-color-background-shade;

	@include AU-media( sm ){
		display: flex;
		align-items: center;
	}

	@include AU-media( lg ){
		@include AU-space( padding, 4unit );
	}

	* + & {
		@include AU-space( margin-top, 2unit );
	}
}

.calloutWithButton__text {
	@include AU-fontgrid( md );
}

.calloutWithButton__image {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calloutWithButton__buttons {
	@include AU-space( margin-top, 1.5unit );

	@include AU-media( sm ){
		margin-top: 0;
	}
}
