// Card listing match height
.au-card-list {
	list-style: none;
	padding: 0;

	li {
		list-style: none;
		padding: 0;
	}

	.au-body & {
		li {
			@include AU-space( margin-top, 1.5unit );
		}
	}

	&.au-card-list--matchheight {
		display:flex;
		flex-wrap: wrap;

		li {
			display:flex;
		}

		.au-card {
			display:flex;
			flex-direction: column;
		}

		.au-card__stretch {
			flex: 1 0 auto;
		}
	}
}
