.au-card {
	&.au-card--border {
		@include AU-space( padding, 1unit 0 );
		@include AU-space( border-top, 0.5unit solid $AU-color-foreground-border );
		@include AU-space( border-bottom, 0.5unit solid $AU-color-foreground-border );

		img:first-child {
			@include AU-space( margin-top, -1unit );
		}

		img:last-child {
			@include AU-space( margin-bottom, -1unit );
		}
	}

	&.au-card--border-left {
		@include AU-space( padding, 0 0 0 1unit );
		@include AU-space( border-left, 0.5unit solid $AU-color-foreground-border );
	}
}


.au-card-list--components .au-card {

	.card__title {
		@include AU-fontgrid( sm, nospace );
		font-weight: normal;
	}

	.card__version {
		@include AU-fontgrid( xs );
		color: $AU-color-foreground-muted;
	}
}

.card__highlight {
	@include AU-space( padding, 0.25unit 0 );
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $AU-color-success-a11y;
	color: $AU-color-background;
	font-weight: bold;
	text-align: center;
	transform-origin: left top;
	transform: rotate( 315deg ) translateX( -50% ) translateY( 20px );
}
