.card__highlight {
	@include AU-space( padding, 0.25unit 0 );
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $AU-color-success-a11y;
	color: $AU-color-background;
	font-weight: bold;
	text-align: center;
	transform-origin: left top;
	transform: rotate( 315deg ) translateX( -50% ) translateY( 20px );
}
