.au-card {
	display:block;
	max-width: $AU-maxwidth;
	width: 100%;

	img,
	svg {
		display: block;
	}

	// Typographic spacing
	* + hr,
	* + p,
	* + .au-card__title,
	* + .au-card__cta {
		@include AU-space( margin-top, 1unit );
	}

	hr {
		margin-bottom: 0;
	}

	.au-card__cta,
	.au-card__image {
		display: block;
	}

	&.au-card--shadow {
		@include AU-space( padding, 1unit );
		border-radius: 4px;
		overflow:hidden;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
		background: $AU-color-background;

		.lt-ie9 & {
			border: solid 1px $AU-color-foreground-border;
		}

		.au-card__fullwidth,
		.au-card__bg {
			@include AU-space( margin-left, -1unit );
			@include AU-space( margin-right, -1unit );

			&:first-child {
				@include AU-space( margin-top, -1unit );
			}

			&:last-child {
				@include AU-space( margin-bottom, -1unit );
			}
		}
	}

	&.au-card--centered {
		text-align: center;

		img,
		svg {
			margin: 0 auto;
		}
	}

	.au-card__bg {
		@include AU-space( padding, 1unit );
		background-color: $AU-color-background-alt;

		&:not(:first-child) {
			@include AU-space( margin-top, 1unit );
		}
	}
}

// When the box is a link
a.au-card {
	color: $AU-color-foreground-text;

	.au-body & {
		text-decoration: none;
	}

	&.au-card--shadow {
		&:focus {
			border-radius: 0;
		}

		&:hover {
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		}
	}

	.au-card__link,
	.au-card__cta {
		color: $AU-color-foreground-action;
		text-decoration: underline;
		text-decoration-skip: ink;
	}

	&:hover .au-card__link {
		text-decoration: none;
		color: $AU-color-foreground-text;
	}
}


// Card listing match height
.au-card-list {
	list-style: none;
	padding: 0;

	li {
		list-style: none;
		padding: 0;
	}

	.au-body & {
		li {
			@include AU-space( margin-top, 1.5unit );
		}
	}

	&.au-card-list--matchheight {
		display:flex;
		flex-wrap: wrap;

		li {
			display:flex;
		}

		.au-card {
			display: flex;
			flex-direction: column;
		}

		.au-card__stretch {
			flex: 1 0 auto;
		}
	}
}
