.code-demo {
	position: relative;
	@include AU-clearfix();

	.is-components & .code-demo__example-wrapper {
		@include AU-media( sm ){
			float: right;
		}
	}

	* + & {
		@include AU-space( margin-top, 3unit );
	}

	.code-demo + & {
		@include AU-space( margin-top, 6unit );
	}

	.codebox pre {
		margin-top: 0;
		border-radius: 0;
		height: 10em;
	}

	.tabs {
		border-top: 1px solid #cfcfcf;

		.au-link-list > li > a,
		.tabs-nav {
			border-bottom-color: $AU-color-Background-darkest;
		}
	}

	&:hover .code-demo__anchor {
		display: block;
	}
}

.code-demo__headline {
	position: relative;
}

.code-demo__anchor {
	display: none;
	position: absolute;
	left: 0;
	@include AU-space( top, 0.8unit );
	@include AU-fontgrid( sm, nospace );
	z-index: 100;
}

.code-demo__example {
	border: 2px solid #cfcfcf;
}

.code-demo__example__iframe {
	border: 0;
	min-width: 100%;
}

.au-body * + .code-demo__headline {
	margin-top: 0;
}

.code-demo__text {
	@include AU-space( margin-top, 1unit );
}

