/* PrismJS 1.10.0
 * http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+jsx+scss
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


// Custom styles for codebox
.furnace code[class*="language-"] {
	white-space: pre-wrap;
}

.codebox {
	position: relative;

	.btn-copy {
		@include AU-fontgrid( xs );
		@include AU-space( top, 0.5unit );
		@include AU-space( right, 0.75unit );
		position: absolute;
		border: 0;
		padding: 0;

		&.icon--success {
			color: $AU-color-foreground-text;
			text-decoration: none;
		}
	}
}

* + .codebox {
	@include AU-space( margin-top, 1unit );
}

// custom inline code
.au-body {
	code {
		@include AU-space( padding, 0.1unit 0.25unit );
	}
}
