// component-footer

.componentfooter {
	@include AU-space( margin-top, 5unit );

	h3 {
		@include AU-fontgrid( sm, heading );
		@include AU-space( border-top, 0.25unit solid $AU-color-background-alt );
		@include AU-space( padding-top, 2unit );
		color: $AU-color-foreground-muted;

		@include AU-media( md ) {
			@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt );
			@include AU-space( padding-bottom, 1unit );
			padding-top: none;
			border-top: none;
		}
	}

	.col-sm-6 {
		@include AU-space( margin-top, 2unit );
		@include AU-media( md ) {
			margin-top: 0;
		}
	}

}

.au-body .componentfooter li {
	@include AU-space( margin-top, 0.75unit );

	&:first-child {
		margin-top: 0;
	}

	// Icons in <a> tags have a greater height than the <a> text. This causes unusual shaped focus states in Chrome.
	// The below corrects and is a consistent solution for all browsers
	// See here for more https://github.com/govau/design-system-site/issues/388
	a[class^="icon"] {
		display: inline-block;
	}
}

.au-body .componentfooter .au-link-list,
.componentfooter ul {
	// RESET AUDS
	@include AU-space( margin, 1.5unit 0 0 0 );
	padding: 0;

	@include AU-fontgrid( xs, heading );
	list-style: none;
	padding: 0;
}
