.componentListReleased ul {
	list-style: none;
	padding: 0;
}
.componentListReleased li {
	list-style: none;
	padding: 0;
}
.componentListReleased a {
	display: block;
	background: silver;
}

// .au-grid .componentListReleased .col-sm-3 {
// 	padding-left: 16px;
// 	padding-right: 16px;
// 	padding-top: 32px;
// 	margin-top: 0;
// }
