// component-header

.componentheader {
	position: relative;

	.componentheader__heading {
		@include AU-fontgrid( xxxl, nospace );
		margin-top: 0;
	}

	.componentheader__body {
		@include AU-space( margin-top, 2unit );
		@include AU-fontgrid( md );
	}
}


.componentheader__version {
	@include AU-space( top, -1.75unit );
	position: absolute;
	display: block;
	@include AU-fontgrid( sm );
	color: $color-status--published-text;
}
