.componentListReleased ul {
	list-style: none;
	padding: 0;
}
.componentListReleased li {
	list-style: none;
	padding: 0;
}
.au-body .componentListReleased li {
	@include AU-space( margin-top, 1.5unit );
}
.componentListReleased .au-responsive-media-img {
	display: block;
}
.componentListReleased .au-card {
	h3 {
		@include AU-fontgrid( sm, nospace );
		font-weight: normal;
	}
	.ver {
		@include AU-fontgrid( xs );
		@include AU-space( margin-top, 0.25unit );
		color: $AU-color-Muted;
	}
}


// Card system
// ========================================

.au-body .au-card {
  display:block;              // Expects .au-card to be <a>
  background:white;           // default card background
  width:100%;                 // cards fill their container (needed for flexbox)
  text-decoration: none;      // remove link styles on whole card
  color: $AU-color-Text;      // remove link styles on whole card
  border-radius: 4px;         // follow UIkit affordence convention
  overflow:hidden;            // for border-radius to work on children w backgrounds & imgs
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);

	&:hover {
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

		.au-card__psudo-link {
			color: $AU-color-Text;
			text-decoration: none;
		}
	}

	&:focus {
		border-radius: 0; // reset for focus outline
	}
}

.lt-ie9 .au-card {
	// compensate for missing box-shadow
	border: solid 1px $AU-color-Border;
}


/* --- Card parts --- */
.au-card__psudo-link {
	//At lease one element in each card should look like a link for affordence
	color: $AU-color-Action;
	text-decoration: underline;
}

.au-card__bdr:after {
	content: "";
	display: block;
  border-top: solid 1px $AU-color-Border;
}

.au-card__spacer {
	@include AU-space( padding, 1unit );

	& + .au-card__spacer { // collapse padding between spacers
	  padding-top:0;
	}

	&.au-card__bdr:after {
		@include AU-space( margin-top, 1unit );
	}

}


/* --- Flex layouts --- */
.au-card__list {
  display:flex;
  flex-wrap: wrap;
}

.au-card__container {
  display:flex;
}

.au-card {
  display: flex;
  flex-direction: column;
}

.au-card__stretch {
  flex: 1 0 auto;
}
