// component-status box
.componentheader__statusbox {
	@include AU-space( margin-top, 2unit );

	@include AU-media( md ){
		margin-top: 0;
	}
}


.au-body .componentStatus {
	@include AU-fontgrid( xs );
	@include AU-clearfix();

	a {
		// Links in this component are quieter
		color: $AU-color-Text;
	}

	dt,
	dd {
		display: inline-block;
		vertical-align: top;
		margin: 0; // Reset .AU-body
		@include AU-space( margin-bottom, 0.75unit );
	}

	dt {
		width: 30%;
		padding-right: 5%;
	}

	dd {
		width: 65%;
		border-left: none; // Rest au-body
		padding: 0; // Rest au-body
	}

	.avatar {
		@include AU-space( margin-right, 0.25unit );
	}
}


.componentStatus__title {
	@include AU-space( padding-bottom, 1unit );
	@include AU-space( border-bottom, solid 0.25unit $AU-color-Action);
	color: $AU-color-Action;
}


.componentStatus__definition__list {
	@include AU-fontgrid( xs );
	list-style: none;
	margin: 0;
	padding: 0;

	& > li {
		display: inline-block;

		&:after {
			content: ',';
		}
	}

	& > li:last-child:after,
	&.componentStatus__definition__list--images > li:after {
		display: none;
	}

	& > li:first-child {
		margin-left: 0;
	}
}

.componentStatus__definition__list__more {
	appearance: none;
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

// Reset AU-body
.au-body .componentStatus__definition__list > li {
	margin-top: 0;
	margin-left: 0;
}
.au-body .componentStatus__definition__list {
	padding-top: 0;
}
.au-body .componentStatus__definition {
	@include AU-space( margin-top, 1.25unit );
}
