.chameleon-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    @include AU-space( padding, 1unit 2unit 1unit 2unit );
    background: whitesmoke;
    text-align: center;
    @include AU-media (sm) {
        text-align: left;
    }
}


.chameleon-wrapper__iframe {
    height: 75vh;
    display: inline-block;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    & + * {
        @include AU-space( margin-left, 2unit );
    }

    @include AU-media ( lg ) {

    }

    &.desktop {
        display: none;
        @include AU-media ( md ) {
            display: inline-block;
        }
    }

    &.tablet {
        display: none;
        @include AU-media ( sm ) {
            display: inline-block;
        }
    }
}

.chameleon-toolkit {
    @include AU-space( margin, 1unit 3unit 2unit 3unit );

    & .chameleon-toolkit__container {
        border: solid 1px #ccc;
        @include AU-space( padding, 2unit );

        &.hidden {
            display: none;
        }
    }
}

.form-item + .form-item {
	@include AU-space( margin-top, 2.5unit );
}

.label--block {
	display: block;
}