.chameleon-wrapper {
    background: #ccc;
    @include AU-media( lg ) {
        .row.equal {
          display: flex;
          flex-wrap: wrap;
        }
      }
}
.chameleon-wrapper__iframe {
    min-width: 100%;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    height: 75vh;

    @include AU-media( lg ) {
        height: 99%;
    }

    .ie8 &,
	.lt-ie8 & {
        height: 600px;
    }


}
.chameleon-toolkit {
    @include AU-space( margin, 1unit );

    @include AU-media( lg ) {
        margin: 0;
    }
}

.chameleon-toolkit__container {
    border: solid 1px #ccc;
    @include AU-space( padding, 1unit );

    div[class^="col-"] + div[class^="col-"], .row + .row {
        @include AU-space( margin-top, 2.5unit );
    }

    @include AU-media( sm ) {
        div[class^="col-"] + div[class^="col-"] {
            margin-top: 0;
        }
    }
}

.form-item + .form-item {
	@include AU-space( margin-top, 2.5unit );
}


.label--block {
	display: block;
}

#cs {
    display: block;
    @include AU-media( lg ) {
        display: none;
    }
}