.features {
	.features__intro,
	.features__cta {
		text-align: center;
	}

	.features__cta {
		@include AU-space( margin-top, 2unit );
	}

	.au-card {
		@include AU-space( margin-top, -0.25unit );
		@include AU-space( border-top, 0.25unit solid $AU-color-background-alt );
		@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt );
		@include AU-space( padding, 2unit 0 );
	}

	.au-card-list {
		@include AU-space( margin-top, 4unit );

		// Overrides for au-body
		.au-body & {
			li {
				margin-top: 0;
			}
		}
	}
}
