.au-fieldset {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;

	legend {
		font-weight: bold;
		@include AU-space( margin-bottom, 1unit );
	}
}

.au-fieldset + .au-fieldset {
	@include AU-space( margin-top, 2unit );
}
