.au-footer {
	@include AU-space( padding, 5unit 0 );
	border-top: none;

	.au-link-list {
		@include AU-space( padding, 2unit 0 );
		@include AU-space( margin-top, -0.5unit );
	}
}

.au-footer-logo {
	@include AU-space( margin-top, 2unit );

	@include AU-media( md ) {
		margin-top: 0;
	}
}

.au-footer--legal {
	@include AU-space( padding-top, 2unit );
}

.au-footer--main-links {
	@include AU-clearfix();

		li {
			@include AU-space( margin-top, 1unit );
			width: 50%;
			float: left;
			margin: 0;

			@include AU-media( md ) {
					display: inline-block;
					width: auto;
					float: none;
					@include AU-space( margin-right, 2unit );
			}
		}
}


.au-footer--legal-links {
	border-top: solid 1px $AU-colordark-Border;
	border-bottom: solid 1px $AU-colordark-Border;

	li {
		@include AU-media( md ) {
			display: inline-block;
			@include AU-space( margin-right, 1unit );
		}
	}
}

.au-body.au-body--dark .au-footer--legal,
.au-body.au-body--dark .au-footer--legal-links {
	@include AU-fontgrid( xs, heading );
	a {
		color: $AU-colordark-Text;
	}
}
