.footer {
	@include AU-space( padding, 5unit 0 );
	border-top: none;

	.au-link-list {
		@include AU-space( padding, 2unit 0 );
		@include AU-space( margin-top, -0.5unit );
		@include AU-clearfix();
		width: 100%;

		& > li {
			width: 50%;
			float: left;
			margin: 0;

			@include AU-media( md ) {
				display: inline-block;
				width: auto;
				float: none;
				@include AU-space( margin-right, 2unit );
			}
		}
	}
}

.footer__logo {
	@include AU-space( margin-top, 2unit );

	@include AU-media( md ) {
		margin-top: 0;
	}
}

.footer__affiliate {
	@include AU-fontgrid( xs );

	.au-cta-link {
		@include AU-fontgrid( xs );
		display: inline-block;
		font-weight: normal;
		margin-top: 0;

		&:after {
			content: '';
			@include AU-space( width, 0.75unit );
			@include AU-space( height, 0.75unit );
			@include AU-space( margin-left, 0.25unit );
			display: inline-block;
			vertical-align: middle;
		}

		&:hover:after {
			@include AU-space( margin-left, 0.5unit );
		}
	}

	@include AU-media( md ) {
		@include AU-space( padding, 0.5unit 0 0.5unit 1unit );
		border-left: solid 1px $AU-colordark-foreground-border;

		span {
			display: block;
		}
	}
}

.footer__affiliate-link {
	@include AU-media( md ) {
		@include AU-space( margin-top, 0.5unit );
	}
}

.footer__legal {
	@include AU-space( padding-top, 2unit );
}


.footer__legal-links {
	border-top: solid 1px $AU-colordark-foreground-border;
	border-bottom: solid 1px $AU-colordark-foreground-border;

	li {
		@include AU-media( md ) {
			display: inline-block;
			@include AU-space( margin-right, 1unit );
		}
	}
}

.footer__legal,
.footer__legal-links {
	@include AU-fontgrid( xs, heading );
}

.au-body.au-body--dark {
	.footer__legal-links,
	.footer__legal {
		a {
			color: $AU-colordark-foreground-text;

			&:after {
				background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
						'<path fill="#{ $AU-colordark-foreground-text }" d="M24.002 8C15.155 8 8 15.164 8 24.002v79.996C8 112.845 15.164 120 24.002 120h79.996c8.847 0 16.002-7.164
							16.002-16.002V82.005c0-1.107-.895-2.005-1.994-2.005h-12.012c-1.1 0-1.994.893-1.994 1.995v16.008c0 3.312-2.685 5.997-5.997 5.997H29.997C26.685
							104 24 101.315 24 98.003V29.997C24 26.685 26.685 24 29.997 24h16.008C47.107 24 48 23.105 48 22.006V9.994C48 8.894 47.103 8 45.995 8H24.002z"/>' +
						'<path fill="#{ $AU-colordark-foreground-text }" d="M127.416.584c-.36-.36-.86-.584-1.41-.584H73.994C72.904 0 72 .893 72 1.994v12.012c0 1.1.892 1.994 1.993 1.994H96L49.41
							62.59c-.777.777-.774 2.046.01 2.83l13.16 13.16c.793.793 2.052.788 2.83.01L112 32v22.007c0 1.09.893 1.993 1.994 1.993h12.012c1.1 0 1.994-.892
							1.994-1.993V1.993c0-.545-.223-1.043-.584-1.405V.584z"/>' +
					'</svg>');
			}
		}
	}
}

.footer__image {
	@include AU-space( height, 4.5unit );
	display: block;
}
