.furnace__title {
	@include AU-space( padding-bottom, 1.5unit );
	@include AU-space( margin-bottom, 1.5unit );
	@include AU-space( border-bottom, solid 0.25unit $AU-color-Background );

	.furnace__title__control {
		@include AU-space( margin-top, -0.5unit );
		float: right;
	}
}


.furnace__component-list {
	list-style: none;
	margin-top: 0;
	padding: 0;
}



.furnace__component {
	@include AU-clearfix();
	display:block;
	position:relative;
	background: $AU-color-Background;
	margin-top: 1rem;
	padding:1rem;

	&:hover {
	 background: $AU-color-Background-dark;
	}
}



.furnace__component__label {
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1rem;
	z-index:1;
	cursor:pointer;

	.furnace__component__control { //label text & input
		@include AU-space( margin-left, 5unit );
		@include AU-fontgrid( md );
		position: relative; //for the UIKIT checkboxes
		display:block;
		font-weight:bold;
	}
}

.furnace__component__details {
	.furnace__component__notes {
		@include AU-space( margin, 2unit 0 0 0 );
		float: left;
	}

	.furnace__component__doclink {
		@include AU-fontgrid( xs );
		@include AU-space( margin-top, 1.25unit );
		float: right;

		a {
			position:relative;
			z-index:99;

			&:hover {
				color: $AU-color-Text;
				text-decoration:none;
			}
		}
	}

	img {
		@include AU-space( width, 4unit );
		@include AU-space( margin-right, 1unit );
		float:left;
	}
}

.furnace__code {
	@include AU-fontgrid( xs );
	font-family: $AU-font-monospace;
	apperance: none;
	border: none;
	background-color: transparent;
	height: 10em;
	width: 100%;
}

.furnace__buildbox {
	@include AU-clearfix();
	@include AU-space( padding, 1unit );
	@include AU-space( margin-top, 1unit );
	background-color: $AU-color-Background;

	.au-btn.au-btn--size-sm {
		float: right;
		@include AU-fontgrid( xs );
		@include AU-space( margin-right, -1unit );
		@include AU-space( margin-bottom, -1unit );
		@include AU-space( padding, 0.25unit 0.5unit );
	}

}


// Resets for body :'(
.au-body {
	.furnace--component-list > li {
		margin-top: 0;
	}

	.furnace--component-list > li + li {
		@include AU-space( margin-top, 1unit );
	}

	* + .furnace--component-list {
		margin-top: 0;
	}
}
