// HeaderGovAU
.headergovau {
	background-color: $AU-colordark-background-alt-shade;
	color: $AU-colordark-foreground-text;
	font-family: $AU-font;
	position: relative;
	z-index: 150;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
}

.headergovau__content__title {
	font-weight: bold;
	margin-top: 0;
}

// The content inside the accordion
.headergovau__content {

	&.au-accordion__body {
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 1.5;
	}

	.au-accordion__body-wrapper {
		@include AU-space( padding, 1unit 0 0 0 );
		border: 0;
	}

	.headergovau__icon-content {
		@include AU-space( padding-top, 1.5unit );
		@include AU-space( padding-bottom, 1.5unit );
		@include AU-space( padding-left, 5unit );
		@include AU-space( max-width, 25unit );
		position: relative;

		&:before {
			@include AU-space( width, 2unit );
			@include AU-space( height, 2unit );
			@include AU-space( margin-left, 1unit );
			@include AU-space( margin-right, -3.5unit );

			content: " ";
			left: 0;
			position: absolute;
			display: block;
			float: left;
		}

		&.icon--govau:before {
			background: AU-svguri( '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">' +
				'<path fill="#{ $AU-colordark-foreground-muted }" d="M28 2H4a2 2 0 0 0-2 2v24a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM6 6h4v2H6zm20 20H6V16h20zm0-18H12V6h14z"/>' +
			'</svg>' );
		}

		&.icon--secure:before {
			background: AU-svguri( '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">' +
				'<path fill="#{ $AU-colordark-foreground-muted }" d="M26 14h-2v-4a8 8 0 0 0-16 0v4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h20a2 2 0 0 0 2-2V16a2 2 0 0 0-2-2zm-14-4a4 4 0 0 1 8 0v4h-8z"/>' +
			'</svg>' );
		}
	}
}

// The top bar that doesn't include content
.headergovau__bar {
	@include AU-space( padding, 0.5unit 0 );

	button,
	a {
		color: $AU-colordark-foreground-text;
		@include AU-focus( 'dark' );
	}
}

.headergovau__button {
	float: left;
	text-decoration: none;
	position: relative;

	//button resets
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	text-align: left;

	&:before {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		@include AU-space( width, 1.25unit );
		@include AU-space( height, 1.25unit );

		background-position: center center;
		background-repeat: no-repeat;
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">' +
				'<path fill="#{ $AU-colordark-foreground-text }" d="M10 .28l2.1 5.3 5.45-1.67-2.84 4.95 4.71 3.23-5.64.86.41 5.69L10 14.77l-4.19 3.87.41-5.69-5.64-.86 4.71-3.23-2.84-4.95 5.46 1.67L10 .28z"/>' +
				'<path fill="none" d="M0 0h20v20H0z"/>' +
			'</svg>');
	}

	&:after {
		content: " ";
		display: inline-block;
		vertical-align: middle;
		@include AU-space( width, 0.75unit );
		@include AU-space( height, 0.75unit );
		background-position: center 2px;
		background-repeat: no-repeat;
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
				'<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l64 64-16 16-64-64"/>' +
				'<path fill="#{ $AU-colordark-foreground-text }" d="M64 0l16 16-64 64L0 64"/>' +
			'</svg>');
		transition: transform 0.25s ease-in;
	}

	.ie8 &,
	.lt-ie8 & {
		&:after {
			content: ' ▼ ';
		}

		&.au-accordion--open:after {
			content: ' ▲ ';
		}
	}

	&:hover .headergovau__official {
		text-decoration: none;
	}

	&.au-accordion--closed:after {
		transform: rotate( -180deg );
	}
}

.headergovau__text {
	display: inline-block;
	vertical-align: middle;
	@include AU-space( padding-left, 0.25unit );
	@include AU-space( padding-right, 0.25unit );
}

.headergovau__title,
.headergovau__official {
	display: block;

	@include AU-media( xs ){
		display: inline-block;
	}
}

.headergovau__title {
	font-weight: bold;
}

.headergovau__official {
	text-decoration: underline;
}

.headergovau__publisher {
	float: right;
	@include AU-space( margin-top, 0.25unit );

	&:hover {
		text-decoration: none;
	}
}
