.header {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-skip: ink;
		}
	}

	// Remove padding bottom as we have a menu
	.au-header {
		padding-bottom: 0;
		position: relative;
		z-index: 300;
	}

	.header__logo {
		@include AU-clearfix();
	}

	.header__logo--coa {
		display: block;
		@include AU-space( max-width, 6unit );
	}

	.header__logo--gold {
		@include AU-space( margin-top, 1unit );
		@include AU-clearfix;
		@include AU-focus( 'dark' );
		display: block;
		float: left;

		svg {
			@include AU-space( max-width, 3unit );
			@include AU-space( margin-right, -3unit );

			@include AU-space( width, 2.5unit );   // IE11 needs height and width
			@include AU-space( height, 3.75unit ); // ^^^

			float: left;
		}
	}

	.header__logo--gold__title {
		float: left;
		@include AU-space( margin-top, 0.25unit );
		@include AU-space( margin-left, 3.25unit );
		@include AU-space( max-width, 13unit );
		text-align: left;
		color: $AU-colordark-Text;
	}

	@include AU-media( xs ) {

		.header__logo--coa {
			float: left;
			margin: 0;
			@include AU-space( margin-right, 1unit );
		}

		.header__logo--gold {
			margin-top: 0;

			svg {
				@include AU-space( max-width, 4unit );
				@include AU-space( width, 4unit );   // IE11 needs height and width
				@include AU-space( height, 5unit );  // ^^^
			}
		}

		.header__logo--gold__title {
			@include AU-fontgrid( lg, heading );
			@include AU-space( margin-top, 0.5unit );
			@include AU-space( margin-left, 5unit );
			@include AU-space( max-width, 15unit );
		}
	}
}



