.header {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-foreground-action );
	background-color: $AU-colordark-background;

	p {
		color: $AU-colordark-foreground-muted;
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		position: relative;
		z-index: 100;
		box-shadow: 0 0 5px 0 $AU-color-foreground-border;
	}

	.au-header__subline {
		@include AU-space( max-width, 36unit );
	}
}

// Add relative for mobile menu
.au-header {
	position: relative;
	z-index: 300;
}

// Remove padding bottom as we have a menu
.au-header,
.au-header.au-header--hero {
	@include AU-space( padding-bottom, 0.5unit );
}

.header__badge {
	@include AU-space( padding, 2px 0.5unit );
	@include AU-space( margin-left, 0.5unit );
	border: solid 2px $AU-colordark-foreground-text;
	border-radius: 2em;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	vertical-align: super;
}
