// Live demo header bar
.header__bar {
	@include AU-space( margin-bottom, 1unit );
	@include AU-space( padding, 1unit 0 );
	background-color: #1D1D1D;

	a {
		color: #45c2f0; // Hard coded as the Uikit colours are not overridden
		display: block;
		float: left;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}
