// Remove padding bottom as we have a menu
.au-header.au-header--dark {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );
	padding-bottom: 0;
}

.header__logo {
	@include AU-clearfix;
	display: inline-block;
	text-decoration: none;
	text-decoration-skip: ink;
	color: $AU-colordark-Text;

	@include AU-focus( 'dark' );

	&:hover {
		text-decoration: underline;
	}
}

.header__logo__gold {
	@include AU-space( max-width, 4unit );
	@include AU-space( margin-right, -4unit );
	float: left;
}

.header__logo__title {
	@include AU-space( margin-top, 0.5unit );
	@include AU-space( margin-left, 5unit );
	@include AU-space( max-width, 15unit );
}
