.icon:before,
.icon--right:after {
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	content: " ";
	background-repeat: no-repeat;
	margin-top: -2px;

	.lt-ie9 & {
		display: none;
	}
}

.icon:before {
	@include AU-space( margin-right, 0.5unit );
}

.icon--right:before {
	display: none;
}

.icon--right:after {
	@include AU-space( margin-left, 0.5unit );
}


.icon--github {
	&:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-color-Action }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
					0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
					4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
					1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}

	&:hover:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-color-Text }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
					0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
					4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
					1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}
}

.icon--github.icon--dark.icon--action {
	&:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-colordark-Action }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
				0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
				4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
				1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}

	&:hover:before,
	.mainmenu--active &:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-colordark-Text }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
				0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
				4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
				1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}
}

.icon--download.icon--action.icon--dark {
	&:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Action }" viewBox="0 0 24 24">' +
			'<path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
		'</svg>');
	}

	&:hover:before,
	.mainmenu--active &:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Text }" viewBox="0 0 24 24">' +
			'<path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
		'</svg>');
	}
}

.icon--community {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>' +
			'</svg>');
	}

	&:hover:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Text }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>' +
		'</svg>');
	}
}

.icon--community.icon--dark {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Background-light }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>' +
			'</svg>');
	}
}

.icon--email {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
	}

	&:hover:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Text }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
	}
}


.icon--demo {
	&:after {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 ' +
				'2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>' +
			'</svg>');
	}

	&:hover:after {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Text }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 ' +
				'2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>' +
			'</svg>');
	}
}


.icon--search {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>' +
			'</svg>');
	}
}


.icon--copy {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Background-light }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>' +
			'</svg>');
	}
}


.icon--success {
	&:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Background-light }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>' +
			'</svg>');
	}
}
