.icon a:before,
.icon button:before {
	@include AU-space( margin-right, 0.5unit );
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	content: " ";
	background-repeat: no-repeat;
}


.icon--menu--action.icon--dark {
	button:before {
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Action }">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
		'</svg>');
	}

	&:hover button:before {
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Text }">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
		'</svg>');
	}
}

.icon--github {
	a:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-color-Action }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
					0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
					4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
					1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}

	&:hover a:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-color-Text }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
					0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
					4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
					1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}
}

.icon--github--action.icon--dark {
	a:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-colordark-Action }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
				0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
				4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
				1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}

	&:hover a:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 25">' +
			'<path fill="#{ $AU-colordark-Text }" d="M12 0a12 12 0 0 0-3.79 23.38c.6.11.82-.26.82-.58v-2c-3.34.73-4-1.61-4-1.61a3.18 3.18 0 0
				0-1.39-1.79c-1.09-.7.08-.7.08-.7a2.52 2.52 0 0 1 1.84 1.24A2.55 2.55 0 0 0 9 18.9a2.56 2.56 0 0 1 .76-1.6c-2.66-.3-5.47-1.33-5.47-5.93a4.64
				4.64 0 0 1 1.29-3.22 4.32 4.32 0 0 1 .12-3.18S6.7 4.7 9 6.2a11.37 11.37 0 0 1 6 0c2.3-1.5 3.3-1.23 3.3-1.23a4.31 4.31 0 0 1 .12 3.18 4.63 4.63 0 0 1
				1.23 3.22c0 4.61-2.81 5.62-5.48 5.92a2.86 2.86 0 0 1 .83 2.22v3.29c0 .39.22.69.83.58A12 12 0 0 0 12 0z"/>' +
			'</svg>');
	}
}

.icon--download--action.icon--dark {
	a:before {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Action }" viewBox="0 0 24 24">' +
			'<path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
		'</svg>');
	}

	&:hover a:before  {
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Text }" viewBox="0 0 24 24">' +
			'<path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
		'</svg>');
	}
}

.icon--community {
	a:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>' +
			'</svg>');
	}

	&:hover a:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Text }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>' +
		'</svg>');
	}
}

.icon--email {
	a:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Action }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
	}

	&:hover a:before {
		background-image: AU-svguri('<svg fill="#{ $AU-color-Text }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">' +
				'<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
	}
}
