// Intro
.intro {
	@include AU-space( margin-top, 3unit );

	@include AU-media( md ){
		margin-top: 0;
	}

	.content {
		@include AU-space( margin-top, 2unit );

		em {
			//Large text block in the Markdown
			@include AU-fontgrid( md );
			font-style: normal;
		}
	}

	.intro__cta {
		@include AU-space( margin-top, 3unit );

		//Center align while still using the A11y max-width feature
		text-align: center;
		margin-left: auto;
		margin-right: auto;

		@include AU-media( md ) {
			text-align: left;
			margin-left: 0;
		}
	}

	.intro__img {
		@include AU-space( max-width, 40unit );
		margin: 0 auto;
	}
}

//specific to override AU-body
.au-body .intro__title {
	@include AU-fontgrid( xxl, heading );
	text-align: center;

	@include AU-media( md ) {
		text-align: left;
	}
}
