// Intro
.intro {
	@include AU-space( margin-top, 3unit );

	@include AU-media( md ){
		margin-top: 0;
	}

	.content {
		@include AU-space( margin-top, 2unit );

		em {
			//Large text block in the Markdown
			@include AU-fontgrid( md );
			font-style: normal;
		}
	}

	.intro__img {
		@include AU-space( max-width, 40unit );
		margin: 0 auto;
	}

	.intro__buttons {
		@include AU-space( margin-top, 1.25unit );

		.au-btn {
			+ .au-btn {
				@include AU-space( margin-left, 0.5unit );
			}

			//display buttons on top of each other when smaller device
			@media (max-width: 576px) {
				display: block;
				float: left;

				+ .au-btn {
					@include AU-space( margin, 0.5unit 0 0 0 );
					clear: left;
				}
			}
		}

	}
}

//specific to override AU-body
.au-body .intro__title {
	@include AU-fontgrid( xxl, heading );
	text-align: center;

	@include AU-media( md ) {
		text-align: left;
	}
}

