// Intro
.intro {
	@include AU-space( margin-top, 3unit );

	@include AU-media( md ){
		margin-top: 0;
	}

	.content {
		@include AU-space( margin-top, 2unit );

		em {
			//Large text block in the Markdown
			@include AU-fontgrid( md );
			font-style: normal;
		}
	}

	.intro__img {
		@include AU-space( max-width, 40unit );
		margin: 0 auto;
	}

	.intro__buttons {
		margin-top: 1rem;

		.au-btn {
			display: block;
			float: left;
			clear: left;

			+ .au-btn {
				@include AU-space( margin-top, 0.5unit );
			}
		}

	}
}

//specific to override AU-body
.au-body .intro__title {
	@include AU-fontgrid( xxl, heading );
	text-align: center;

	@include AU-media( md ) {
		text-align: left;
	}
}

