// listcolumns
.listcolumns {
	display: flex;
	flex-wrap: wrap;

	> div {
		@include AU-space( margin-top, 3unit );
		display: block;
	}
}

// Fallback for No flex, set equal height
.ie8 .listcolumns > div {
	height: 10em;
}
