$color-active: $AU-colordark-Text;

.mainmenu {
	@include AU-clearfix();
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );
	position: absolute;
	width: 100%;
	z-index: 200;
	overflow: hidden;

	.au-link-list {
		display: block;
		padding: 0;
	}

	a {
		@include AU-fontgrid( sm );
		@include AU-space( padding, 0.5unit 0 );
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			text-decoration-skip: ink;
		}
	}

	.au-link-list > li {
		display: block;
		margin: 0;
		border-top: 1px solid $AU-color-Border;

		&.mainmenu--active > a {
			color: $color-active;
			border-color: $color-active;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.mainmenu-is-closed & {
		height: 0;
		display: none;
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		@include AU-space( padding-top, 1unit );
		border-bottom: 0;
		position: static;

		.au-link-list {
			@include AU-space( margin-bottom, -0.5unit );
			float: left;

			&.mainmenu--right {
				float: right;
			}

			& > li {
				display: inline-block;
				border-top: 0;

				& > a {
					@include AU-space( padding, 1unit 1unit );
					@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );
				}
			}
		}
	}
}


.mainmenu-toggle {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.5unit 0 );
	color: $AU-colordark-Action;
	text-decoration: none;
	display: block;

	@include AU-focus( 'dark' );

	&:hover {
		color: $AU-colordark-Text;
		text-decoration: underline;
		text-decoration-skip: ink;
	}

	.no-js & {
		display: none;
	}

	.mainmenu-is-open & {
		span:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Action }">' +
				'<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
		}

		&:hover span:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Text }">' +
				'<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
		}
	}

	.mainmenu-is-closed & {
		span:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Action }">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
			'</svg>');
		}

		&:hover span:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-Text }">' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
				'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
			'</svg>');
		}
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		display: none;
	}
}


// Overlay
.mainmenu-is-open .overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $AU-colordark-Background-darkest;
	background: rgba( 29, 29, 29, 0.9 );
	content: " ";
	z-index: 50;
	cursor: pointer;

	@media screen and ( min-width: $nav_breakpoint ) {
		display: none;
	}
}

