$breakpoint: 700px;
$color-active: $AU-colordark-Text;

.au-body.mainmenu {
	@include AU-space( margin-top, 1unit );
	@include AU-space( margin-bottom, -1unit );
	background-color: transparent;

	& > .au-link-list {
		@include AU-space( margin-left, -0.5unit );
		@include AU-space( margin-bottom, 1unit );
		display: block;

		@media screen and ( min-width: $breakpoint ) {
			margin-bottom: 0;
		}
	}

	.au-link-list > li {
		display: block;
		margin-left: 0;
		text-align: center;

		& > a {
			display: block;
			text-decoration: none;
			@include AU-space( font-size, 1.125unit );
			@include AU-space( padding, 0.2unit 0.5unit );

			&:hover {
				text-decoration: underline;
				text-decoration-skip: ink;
			}
		}

		@media screen and ( min-width: $breakpoint ) {
			display: inline-block;

			& > a {
				@include AU-space( font-size, 1unit );
				@include AU-space( padding, 1unit 0.5unit );
				@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );
			}
		}

		&.mainmenu--active > a {
			border-color: $color-active;
		}
	}
}
