.mainmenu {
	@include AU-space( border-bottom, 0.5unit solid $AU-colordark-foreground-action );
	@include AU-clearfix();
	position: absolute;
	width: 100%;
	z-index: 200;


	&.au-body.au-body--dark {
		background: $AU-colordark-background-alt-shade;

		@media screen and ( min-width: $nav_breakpoint ) {
			background: transparent;
		}
	}

	// No javascript menu styles
	.no-js & {
		@include AU-space( margin-top, 1unit ); // Add margin top because the toggle is display: none
		position: static;

		&.au-accordion__body.au-accordion--closed {
			display: block;
			height: auto;
		}
	}

	&.au-accordion__body.au-accordion--closed {
		display: block;
	}

	.navigation.navigation--dark .au-link-list > li.mainmenu--active-trail > a {
		color: $AU-colordark-foreground-text;
		border-color: $AU-colordark-foreground-text;
	}

	// Reset the mobile menu being closed
	@media screen and ( min-width: $nav_breakpoint ) {
		position: static;
		overflow: visible;
		border-bottom: 0;

		.navigation {
			border-bottom: 0;
		}

		.no-js & {
			margin-top: 0;
		}

		.js & {
			&.au-accordion__body.au-accordion--closed {
				display: block;
				height: auto;
			}
		}
	}
}


// Toggle styles
.mainmenu-toggle.au-btn.au-btn--tertiary {
	@include AU-fontgrid( sm );
	@include AU-space( padding, 0.5unit 0 );
	@include AU-space( margin-top, 1unit );
	color: $AU-colordark-foreground-action;
	text-decoration: none;

	// button overrides
	background-color: transparent;
	border: none;
	text-align: left;

	// Homepage overrides
	.header--home & {
		@include AU-space( margin-top, 2unit );
	}

	&:hover {
		color: $AU-colordark-foreground-text;
		text-decoration: underline;
		text-decoration-skip: ink;

		.ie8 & {
			// Odd ie8 bug where background: #FFF !important is being applied
			background: transparent !important;
		}
	}

	.no-js & {
		display: none;
	}

	@media screen and ( min-width: $nav_breakpoint ) {
		display: none;
	}

	&:before {
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-foreground-action }">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
		'</svg>');
	}

	&:hover:before {
		background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-foreground-text }">' +
			'<path d="M0 0h24v24H0z" fill="none"/>' +
			'<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>' +
		'</svg>');
	}


	&.au-accordion--open {
		&:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-foreground-action }">' +
				'<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
		}

		&:hover:before {
			background-image: AU-svguri('<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#{ $AU-colordark-foreground-text }">' +
				'<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>' +
				'<path d="M0 0h24v24H0z" fill="none"/>' +
			'</svg>');
		}
	}
}
