$color-active: $AU-colordark-Text;
$breakpoint: 1100px;

.au-body.mainmenu {
	@include AU-space( margin-top, 1unit );
	background-color: transparent;

	& > .au-link-list {
		@include AU-space( margin-bottom, -1unit );
		display: inline-block;

		& + .au-link-list {
			float: right;
		}
	}

	.au-link-list > li {
		display: block;
		margin-left: 0;
		text-align: center;

		& > a {
			@include AU-fontgrid( sm );
			@include AU-space( padding, 0.2unit 1unit );
			display: block;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				text-decoration-skip: ink;
			}
		}

		@media screen and ( min-width: $breakpoint ) {
			display: inline-block;

			& > a {
				@include AU-fontgrid( xs );
				@include AU-space( padding, 1unit 1unit );
				@include AU-space( border-bottom, 0.5unit solid $AU-colordark-Action );
			}
		}

		&.mainmenu--active > a {
			color: $color-active;
			border-color: $color-active;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
