.navigation.navigation--accordion {
	border-bottom: 0;

	.au-link-list > li {
		border: 0;
		border-left: 4px solid $AU-color-Background-dark;

		&.mainmenu--active {
			position: relative;
			border-left: 4px solid $AU-color-Action;
		}

		& > a {
			@include AU-fontgrid( xs, nospace );
			@include AU-space( padding, 0.75unit 1unit );
		}
	}

	.au-accordion__body-wrapper {
		padding: 0;
		background-color: $AU-color-Background-dark;
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.au-accordion {
		border: 0;
		border-top: 1px solid $AU-color-Border;

		&:last-of-type {
			border-bottom: 1px solid $AU-color-Border;
		}
	}

	.au-accordion__title {
		background: transparent;
		text-decoration: none;
		font-weight: bold;
		@include AU-fontgrid( xs, nospace );
	}

	.au-accordion--closed.au-accordion__title {
		font-weight: normal;
	}
}

