.navigation.navigation--accordion {
	border-bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;

	.au-link-list > li {
		border: 0;

		&.mainmenu--active {
			position: relative;

			&:after {
				@include AU-space( margin-top, -0.5unit );
				@include AU-space( right, -0.5unit );
				@include AU-space( height, 1unit );
				@include AU-space( width, 1unit );
				position: absolute;
				content: " ";
				box-shadow: 0px 0px 2px 2px rgba( 0, 0, 0, 0.2 );
				background-color: $AU-color-Background-light;
				top: 50%;
				z-index: 100;
				transform: rotate(45deg);
			}
		}

		& > a {
			@include AU-fontgrid( xs, nospace );
			@include AU-space( padding, 0.75unit 1unit );
		}
	}

	.au-accordion__body-wrapper {
		padding: 0;
		background-color: $AU-color-Background-darkest;
	}

	.au-accordion {
		border: 0;
		border-top: 1px solid $AU-color-Border;

		&:last-of-type {
			border-bottom: 1px solid $AU-color-Border;
		}
	}

	.au-accordion__title {
		background: transparent;
		text-decoration: none;
		font-weight: bold;
		@include AU-fontgrid( xs, nospace );
	}

	.au-accordion--closed.au-accordion__title {
		font-weight: normal;
	}
}

