// Overlay styles
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: background-color 0.15s ease-in-out;
	background-color: $AU-colordark-Background-darkest;
	background-color: rgba( 29, 29, 29, 0 );
	content: " ";
	z-index: 50;
	cursor: pointer;
	height: 0;
}


// When the overlay is open, lock scrolling
.overlay--open {
	height: 100%;

	.content-wrapper {
		overflow:hidden;
	}

	.header {
		overflow: auto;
	}

	// Show the overlay
	.overlay {
		display: block;
		height: auto;
		bottom: 0;
		background-color: rgba( 29, 29, 29, 0.9 );
	}

	// Reset the lock when the nav is closed
	@media screen and ( min-width: $nav_breakpoint ) {
		.header,
		.content-wrapper {
			overflow: visible;
		}

		.overlay {
			display: none;
		}
	}
}
