// Promo [img, title+link, text]

.promo {
	@include AU-space( margin-top, 2unit );

	@include AU-media( md ) {
			@include AU-space( margin-top, 10unit );
	}

	text-align: center;

	.content {
		text-align: center;
		max-width: $AU-maxwidth;
		margin: 0 auto;
		@include AU-space( margin-top, 1unit );
	}
}

.au-body img.promo__thumbnail {
	display: inline-block;
	max-width: 300px;
}

.au-body .promo .promo__title { //specific to override AU-body
	@include AU-fontgrid( lg );
	@include AU-space( margin-top, 1unit );
	font-weight: normal;
}
