// Cards used in released on /components/

.released {

	.au-card__image {
		background: $AU-color-background-shade;
		@include AU-space( padding, 1.5unit 40%);

		svg {
			@include AU-space( width, 4unit );
			@include AU-space( height, 4unit );
		}
	}

	a.au-card:hover .au-card__title:after {
		color: $AU-color-foreground-text;
		background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
			'<path fill="#{ $AU-color-foreground-text }" d="M128 64l-64 64-16-16 64-64"/>' +
			'<path fill="#{ $AU-color-foreground-text }" d="M128 64l-16 16-64-64L64 0"/>' +
		'</svg>');
	}

	.au-card__title {
		@include AU-fontgrid( sm, heading );
		@include AU-space( padding-right, 1unit );
		font-weight: normal;
		position: relative;
		font-weight: normal;

		&:after {
			content: ' ';
			@include AU-space( width, 0.75unit );
			@include AU-space( height, 0.75unit );
			@include AU-space( margin, 0 0.25unit 0 0.2unit );
			transition: margin 0.2s ease;
			display: inline-block;
			position: absolute;
			right: -3px;
			top: 50%;
			margin-top: -6px;
			background-image: AU-svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">' +
					'<path fill="#{ $AU-color-foreground-action }" d="M128 64l-64 64-16-16 64-64"/>' +
					'<path fill="#{ $AU-color-foreground-action }" d="M128 64l-16 16-64-64L64 0"/>' +
				'</svg>');

			.ie8 &,
			.lt-ie8 & {
				content: ' > ';
			}
		}
	}

	.au-card__content {
		@include AU-fontgrid( xs );
		color: $AU-color-foreground-muted;
	}

}
