// Statistics

.statistics {
	.feature__wrapper__headline {
		color: $AU-color-foreground-muted;
	}

	.feature__wrapper__headline+p {
		margin-top: 0;
	}

	.feature__wrapper {
		min-height: 6em;
		@include AU-space( margin-top, -0.25unit );
	}
}
