// SVG filters
.js-filter--tritanopia {
	filter: url( "#filter-tritanopia" );
}

.js-filter--grayscale {
	filter: grayscale( 100% );
}

.js-filter--deuteranopia {
	filter: url( "#filter-deuteranopia" );
}
