// Table. Just a typical one.

.au-table,
.au-body table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		@include AU-space( padding, 1unit );
	}

	th {
		text-align: left;
		@include AU-space( border-bottom, 0.25unit solid $AU-color-Background-darkest );
	}

	td {
		border-bottom: solid 1px $AU-color-Background-darkest;
	}
}

.au-responsive-table__caption {
	display: table-caption;
	text-align: left;
	@include AU-space( margin-bottom, 1unit );
}

.au-responsive-table__body:nth-child( even ) {
	background: $AU-color-Background-dark;
}

.au-responsive-table {
	overflow:auto;
	@include AU-space( margin-top, 1unit );
}
