.tabs {
		@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt-shade );
		width: 100%;
		position: relative;
		z-index: 5;

	.tab-content {
		code {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		&:focus {
			outline: none;
		}
	}


	& > button {
		@include AU-fontgrid( xs, nospace );
		@include AU-focus();
		@include AU-space( padding, 0.75unit 1unit 0.75unit );
		border: 0;
		@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt-shade );
		@include AU-space( margin-bottom, -0.25unit );
		color: $AU-color-foreground-action;
		background: transparent;
		text-decoration: none;
		cursor: pointer;
		display: inline-block;

		&.tab-item--active {
			@include AU-space( border-bottom, 0.25unit solid $AU-color-foreground-action );
		}
	}
}

.js {
	.tab-content {
		display: none;
	}

	.tab-content--active {
		display: block;
	}
}
