// Table. Just a typical one.
.au-table {
	th[scope="row"]{
		border-right: solid 1px $AU-color-background-alt-shade;
		border-bottom: solid 1px $AU-color-background-alt-shade;
		text-align: left;
		@include AU-space( 'padding', 0.75rem )
	}
}
