// Table. Just a typical one.
.au-table,
.au-body table {
	width: 100%;
	border-collapse: collapse;

	th, td {
		@include AU-space( padding, 1unit );
	}

	th {
		text-align: left;
		@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt-shade );
	}

	th[scope="row"]{
		border-right: solid 1px $AU-color-background-alt-shade;
	}

	th[scope="row"],
	td {
		border-bottom: solid 1px $AU-color-background-alt-shade;
	}

	&.au-table--small {
		@include AU-fontgrid( xs );

		th, td {
			@include AU-space( padding, 1unit 0.5unit );
		}
	}

	&.au-table--striped .au-table__body:nth-child( even ) {
		background: $AU-color-background-shade;
	}

	&.au-table--responsive {
		overflow:auto;
		@include AU-space( margin-top, 1unit );
	}

}

.au-table__caption {
	display: table-caption;
	text-align: left;
	@include AU-space( margin-bottom, 1unit );
}
