.template-card {
	@include AU-clearfix();
	@include AU-space( padding, 2unit );
	@include AU-space( max-width, 55unit );
	border-radius: $AU-border-radius;
	background: $AU-color-background-alt;
}

// When the image is inside a template card
.template-card .template-card__image {
	@include AU-space( max-width, 16unit );
	@include AU-space( margin-right, -21unit );
	float: left;
	width: auto;
}


// When the content is inside a template card
.template-card .template-card__content {
	@include AU-space( margin-left, 18unit );
	display: block;
	float: left;

	.au-btn__list {
		@include AU-space( margin-top, 3unit );
	}
}



// The browser styles around a template image
.template-card__image {
	@include AU-space( max-width, 24unit );

	&:before {
		@include AU-space( margin-bottom, -1.25unit );
		@include AU-space( padding-top, 0.25unit );
		@include AU-space( padding-left, 0.25unit );
		@include AU-fontgrid( sm, nospace  );
		content: "● ● ●";
		display: block;
		color: $AU-color-foreground-muted;
	}

	img {
		@include AU-space( border-top, 1.5unit solid $AU-color-foreground-text );
	}
}


// Released listing
.templates__released {
	@include AU-space( margin-top, 2unit );
	list-style: none;
	padding: 0;

	& > li {
		width: auto;
		list-style: none;
		@include AU-space( margin-top, 2unit );
	}
}


// Demo on the templates page
.template-demo {

	* + & {
		@include AU-space( margin-top, 2unit );
	}
}
