.au-display-sm.feature__wrapper__headline {
	font-weight: bold;
}

.au-btn, a.au-btn {
	border-width: 2px;
}

.au-body *+h2, .au-body *+.au-display-xl {
	@include AU-space( margin-top, 5unit );
}

.au-body :target {
	outline: none;
	animation: example 2s;
}

@keyframes example {
	from {
		background-color: $AU-color-background-shade;
	}

	to {
		background-color: $AU-color-background;
	}
}
