.example {
	padding: 16px 32px;
	padding: 1rem 2rem;
	margin: 0 auto;
	max-width: 800px;
}

.example--center {
	text-align: center
}

.a11y .content .au-body.au-body--dark,
.example .content .au-body.au-body--dark {
	margin: 16px -32px -32px -32px;
	margin: 1rem -2rem -2rem -2rem;
	padding: 16px 32px;
	padding: 1rem 2rem;
}

.live-demo header .container-fluid {
	max-width: 1360px;
	max-width: 85rem;
	padding-left: 48px;
	padding-left: 3rem;
	padding-right: 48px;
	padding-right: 3rem;
}

.live-demo header {
	margin-bottom: 16px;
	margin-bottom: 1rem;
	background-color: #1D1D1D;
	padding: 16px 0;
	padding: 1rem 0;
}

.live-demo header a {
	color: #EBCA79;
	display: block;
	float: left;
}

.live-demo header a:hover {
	text-decoration: none;
	color: #fff;
}
