// Overlay styles
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	transition: background-color 0.5s ease-in-out;
	background-color: $AU-colordark-background-alt-shade;
	background-color: rgba( 29, 29, 29, 0 );
	content: " ";
	z-index: 50;
	cursor: pointer;
}


// When the overlay is open, lock scrolling
.overlay--open {
	// height: 100%; //disabled as it jumps the scroll position #25

	.page-wrapper {
		overflow:hidden;
	}

	.header {
		overflow: auto;
	}

	// Show the overlay
	.overlay {
		display: block;
		height: 100%;
		background-color: rgba( 29, 29, 29, 0.9 );
	}

	// Reset the lock when the nav is closed
	@media screen and ( min-width: $nav_breakpoint ) {
		.header,
		.page-wrapper {
			overflow: visible;
		}

		.overlay {
			display: none;
		}
	}
}
