.searchpage__headline {
	overflow: hidden;
	@include AU-space( border-bottom, 0.25unit solid $AU-color-background-alt-shade );
	@include AU-space( padding-bottom, 1unit );
}

.searchpage__headline__heading__searchstring {
	color: $AU-color-foreground-action;
}

.searchpage__headline__heading {
	float: left;
}

.searchpage__headline__link {
	float: right;
}

.searchpage__section {
	@include AU-space( margin-top, 4unit );
}

.searchpage .searchpage__section__listing {
	margin-top: 0;
}

.searchpage__section__headline__found {
	@include AU-space( font-size, 0.8unit );
	color: $AU-color-foreground-muted;
}
